<!-- Patients Table -->
<table id="patient_arrangement_table" class="table table_main table-striped table-hover" style="width: 100%">
	<thead>
        <tr>
        	<th>Id</th>        	
            <th>Kurs</th>
            <th>Kursleiter</th>
        	<th>Datum</th>
        	<th>Bewertet</th>        	
        </tr>
    </thead>

    {% for par in patArrRefs %}
        <tr>
        	<td>{{ par.id }}</td>            

        	{% if par.arrangement is not empty and par.arrangement.name is not empty %}
                <td>{{ par.arrangement.name }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if par.arrangement is not empty and par.arrangement.sysUser is not empty and par.arrangement.sysUser.lastName is not empty %}
                <td>{{ par.arrangement.sysUser.lastName }}</td>
            {% else %}
                <td></td>
            {% endif %}
        	
            {% if par.arrangement is not empty and par.arrangement.dateTime is not empty %}
                <td>{{ par.arrangement.dateTime | date('d.m.Y H:i') }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if par.assessed == 0 %}
                <td><span class="glyphicon glyphicon-exclamation-sign" style="color: red;" aria-hidden="true"></span></td>
            {% elseif par.attended == 1 %}
                <td><span class="glyphicon glyphicon-ok" style="color: green;" aria-hidden="true"></span></td>                
            {% else %}
                <td></td>
            {% endif %}                
        </tr>
    {% endfor %}
</table>