{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
	    <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#menu1">Stammdaten</a></li>
		    
		</ul>

		<div class="tab-content">
		    <div id="menu1" class="tab-pane fade in active">
		    	<p style="margin-top: 15px"></p>
	      		{{ include('log/logInfoMenu1.html.twig') }}
		    					       
		    </div>

		    
		</div>
        
    </div>

{% endblock %}