{% extends 'mainPage.html.twig' %}

{% block main %}
	
    <div id="page" class="row">
		<div id="control_panel" class="col-md-2">

			<ul class="nav nav-pills nav-stacked">
			    <li id="info_li" class="disabled">
			    	<a id="info_link"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Log info</a>
			    </li>	
			</ul>

		</div>

		<div id="content" class="col-md-10">
			<h2 class="page-header">Übersicht aller Änderungsprotokollen</h2>
			
			{% include 'log/logsTable.html.twig' %}			
			
	    </div>
	</div>

{% endblock %}
