{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
    	Die angesprochene Seite existiert nicht, überprüfen Sie die URL-Adresse.
    </p>
    <p>
    	<a href="{{ path('homePage') }}">Hauptseite</a>
	</p>	

{% endblock %}