{% extends 'mainPage.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
	
    <div class="row">
		<div id="control_panel" class="col-md-2">
			<a href="create-arrangement" class="btn btn-default btn-block">Kurs einfügen</a>
		</div>
		<div id="content" class="col-md-10">
			<h2>Übersicht aller Kursen</h2>
		</div>
	</div>

{% endblock %}
