<!-- Confirmation Dialog -->
<div class="modal fade" id="confirmDialog" role="dialog">
    <div class="modal-dialog">
    
	    <!-- Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
	          	<button type="button" class="close" data-dismiss="modal">&times;</button>
	          	<h4 class="modal-title">Vorgangsbestätigung</h4>
	        </div>
	        <div class="modal-body">
	          	<p>Achtung, diese Aktion löscht auch alle referenzierten Objekte! Fortsetzen?</p>
	        </div>
	        <div class="modal-footer">
	        	<a id="delete_button" class="btn btn-default pull-left btn-danger">Ja</a>
	        	<a id="cancel_button" class="btn btn-default" data-dismiss="modal">Nein</a>
	        </div>
	    </div>
    </div>
</div>