@CHARSET "UTF-8";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.table-striped tbody tr.selected { 
    background-color: #2a68a6; 
    color: white;
}

a.selected {
    background-color: #99ccff;    
}

dd {
    margin-left: 15px;
}

#extra_button {
    margin-top: 20px;
}

#login_form {
    margin-top: 100px;
}

td.right, th.right {
  text-align: right;
}

td.center, th.center {
  text-align: center;
}

span.danger {
    color: red;
}

span.warning {
    color: gold;
}

span.success {
    color: green;
}

/*button {
    text-align: left !important;
} */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#login_div {
    margin-top: 7px;
}

button.thick {
    font-weight: bold;
}

span.big {
    font-size: 1.5em;
}

#loading_process {
    visibility: hidden;
    z-index:100;
}