{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
	    <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#menu1">Stammdaten</a></li>
		    <li><a data-toggle="tab" href="#menu2">Komorbiditäten</a></li>
		    <li><a data-toggle="tab" href="#menu3">Patient</a></li>
		    <li><a data-toggle="tab" href="#menu4">Arzt</a></li>
		    
		</ul>

		<div class="tab-content">
		    <div id="menu1" class="tab-pane fade in active">
		    	<p style="margin-top: 15px"></p>
	      		{{ include('medCheckup/medCheckupInfoMenu1.html.twig') }}
		    					       
		    </div>

			<div id="menu2" class="tab-pane fade col_md_2">
		    	<p style="margin-top: 15px"></p>
		      	{{ include('medCheckup/medCheckupInfoMenu2.html.twig') }}
		    </div>
		    
		    <div id="menu3" class="tab-pane fade col_md_2">
		    	<p style="margin-top: 15px"></p>
		      	{{ include('patient/patientInfoMenu1.html.twig', {patient: medCheckup.patient}) }}
		    </div>

		    <div id="menu4" class="tab-pane fade col_md_2">
		    	<p style="margin-top: 15px"></p>
		      	{{ include('user/userInfoMenu1.html.twig', {user: medCheckup.sysUser}) }}
		    </div>
		    

		</div>
        
    </div>

{% endblock %}