{# app/Resources/views/emails/registration.html.twig #}
<h3>Willkommen!</h3>

Ihre E-Mail wurde gerade verwendet um einen Benutzer für das AOK Application zu erstellen.
Um Ihres Kennwort zu ändern und von allen geheim zu halten, gehen Sie in die Systemeinstellungen.
