<!-- Arrangements Table -->
<table id="arrangements_table" class="table table-striped table-bordered" style="width:100%">
	<thead>
        <tr>
        	<th>Id</th>
            <th>Name</th>
            <th>Datum</th>
            <th>Max. Teilnehmer</th>
        </tr>
    </thead>

    {% for a in arrangements %}
        <tr>
        	<td>{{ a.id }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.dateTime | date('d.m.Y') ~ ", um " ~ a.dateTime | date('H:i') }}</td>
            <td>{{ a.maxParticipants }}</td>
        </tr>
    {% endfor %}
</table>